{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type='images/jpg' href="{% static 'images/default.jpg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='https://beedevservices.github.io/beedev-css/framework/beedev.css'>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>Health Log</title>
</head>
<body>
    <header>
        <h1>Welcome {{user.fullName}}</h1>
        {% block loggedMenu %} {% include 'loggedMenu.html' %} {% endblock loggedMenu %}
    </header>
    <div>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <main>
        <button type="button" class="collapsible">Getting Started</button>
        <div class="content">
            <section>
                <h3>1st steps</h3>
                <ol>
                    <li>Create this weeks base log</li>
                    <li>Create todays post and add content</li>
                    <li>Now you are ready to add other details</li>
                </ol>
            </section>
            <section>
                <h3>Adding your Mood</h3>
                <p>How are you feeling today?  Happy, Sad?  Choose add Mood and change the slider so the face represents how you are feeling, and leave some notes about it.  Feel free to do this through out the day as well.</p>
            </section>
            <section>
                <h3>Adding Symptoms</h3>
                <p>Experiencing some physical symptoms today? Back killing you? At any point during the day feel free to log this.  Even add multiple entries</p>
            </section>
            <section>
                <h3>Optional content</h3>
                <h3>Simply go to your<a href="">profile</a> page end click to enable any of the following</h3>
                <ol>
                    <li>Take Medications? - Log Medications you take when you take them</li>
                    <li>Diabetic? - Log your sugar levels through out the day</li>
                    <li>Keeping track of calories? - Log what you eat through out the day</li>
                    <li>Trouble sleeping? - Log your sleep patterns - if you have a tracker you can even add things from that.</li>
                </ol>
            </section>
            <section>
                <h3>Want your DR to see what's going on?</h3>
                <p>We have 2 options for you on this.</p>
                <ol>
                    <li>On your profile page there is a link where you can generate a downloadable PDF, which you can then email or print and give to your Dr</li>
                    <li>You can also now give your DR access to view your logs.  On your profile page there is a section to add your DR to a list of who can view your logs (If your DR isn't in the dropdown they just haven't signed up yet there are instructions on that page for that)</li>
                </ol>
            </section>
        </div>
        <div class="column desktop-column">
            {% for week in weeks %}
                {% if week.user_id == user.id %}
                    <div class="mainWeek">
                        <h1>{{week.title}}</h1>
                        <a href="/week/{{week.id}}/view/" class="week">View Week</a>
                        <div class="nav">
                            <a href="/week/{{week.id}}/delete/">Delete Week</a>
                            <a href="/day/">Add New Day</a>
                            <a href="/feeling/">Log Mood</a>
                            <a href="/symptom/">Log Symptom</a>
                            {% if user.profile.medication == 1 %}
                                <a href="/medication/">Log Medication</a>
                            {% endif %}
                            {% if user.profile.diabetic == 1 %}
                                <a href="/sugar/">Log Sugars</a>
                            {% endif %}
                            {% if user.profile.food == 1 %}
                                <a href="/food/">Log Food</a>
                            {% endif %}
                            {% if user.profile.sleep == 1 %}
                                <a href="/sleep/">Log Sleep</a>
                            {% endif %}
                            {% if user.profile.sleepApp == 1 %}
                                <a href="/tracker/">Log Sleep App </a>
                            {% endif %}
                        </div>
                        <table>
                            <tr>
                                <th>Day</th>
                                <th>Actions</th>
                            </tr>
                            {% for log in logs %}
                                {% if log.week_id == week.id %}
                                    <tr>
                                        <td>
                                            {{log.day}} {{log.title}}
                                        </td>
                                        <td>
                                            <a href="/day/{{log.id}}/view/">Edit / View</a>
                                        </td>
                                    </tr>
                                    
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
                
            {% endfor %}
        </div>
    </main>
    {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='{% static "js/scripts.js"%}'></script>
</body>
</html>